[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/MadLadSquad/imgui.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/MadLadSquad/glfw.git
