[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/MadLadSquad/imgui.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/MadLadSquad/glfw.git
[submodule "ThirdParty/glew"]
	path = ThirdParty/glew
	url = https://github.com/MadLadSquad/glew-cmake.git
[submodule "ThirdParty/yaml-cpp"]
	path = ThirdParty/yaml-cpp
	url = https://github.com/MadLadSquad/yaml-cpp.git
[submodule "ThirdParty/logger"]
	path = ThirdParty/logger
	url = https://github.com/MadLadSquad/UntitledLog.git
